.aHeader{
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}
.aSearchInput{
    width: 610px;
    height: 50px;
    background-color: #EFEFF0;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.aSearchButton{
    background-color: #003585;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    height: 50px;
    width: 110px;
    color: white;

}