.controlContainer {
  width: 70%;
  background-color: 
  #F1F1F1;

  
  
}

 .controlTable{
  
margin-top:50px ;
  width: 900px;
  height: 870px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-left: 40px;
 }
.suuld{
  padding: 40px;
}
 .controlContainer p{
  border-bottom: solid 1px black;
  height: 50px;
  margin-top: 20px;
  margin-left: 60px;

 }
 .table{
  margin-left: 40px;
 }