.Offcanvas{
    width: 499px !important;
}
.offTitle{
    width: 350px;
    display: flex;
  
    justify-content: space-between;
}
.orderButton{
    width: 435px;
    height: 61px;
    font-size: 24px;
    border: none;
    background-color: #003585;
    color: #fff;
    border-radius: 16px;
}