.header{
    display: flex;
    background-color: rgb(19, 52, 128);
    height: 100px;
    align-items: center;
    
    
}
.HeaderCont{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    
}
#signIn {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px 30px;
}

.searchInp{
    width: 523px;
    height: 48px;

    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    
    border: none;
}
#searchButton{
    height: 48px;
    width: 132px;
    border: none;
    background: #FF8957;
    border-radius: 0px 20px 20px 0px;
    border-color: #FF8957;
}
.logOut{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 20px;
}
.shopingP{
    width: 25px;
    height: 25px;
    background-color: #FF8957;
    border-radius: 50%;
    color: #FFFFFF;
    flex-grow: 0;
    font-size: 15px;
    margin-left: 10px;
}


