.navContainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}
.groupButton {
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin: 0px 10px;
  background-color: white;
  border: solid 1px;
}
.imgNav{
  margin-top: 10px;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.activeBtn{
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin: 0px 10px;
  background-color: 
  #A7F65C;
  border: solid 1px;

  
  color:#003585;
}

