.productC {
  display: flex;

  max-width: 1200px;
  margin: auto;
}

.productContainer {
  display: flex;
  margin: 20px;
}

#card {
  height: 313px;
  width: 280px;
  border-radius: 20px;
}
#cardImg {
  height: 173px;
  width: 280px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.icon {
  width: 30px;
  background-color: #e9e9e9;
}
.sale {
  position: absolute;
  margin-left: 128px;
  width: 150px;
  height: 40px;
  background-color: #a7f65c;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: 
  #003585;
  font-size: 20px;
}
.sale p {
  margin-left: 25px;
}
.product-button{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
}
.cardBottom{
  display: flex;
  justify-content: space-between;
}

