.bigSlider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: #003585;
}
.sliderContainer {
  max-width: 1200px;
}

.firstSlide {
  width: 1460px;
}
.textSlide {
  margin-left: 300px;
}

.firstImage {
  display: block;
  width: 400px;
  height: 408px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.firstH2 {
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
}

.firstH3 {
  display: block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.shopButton {
  background-color: #fff;
  color: #003585;
  border: none;
  margin: 20px;
  width: 144px;
  height: 50px;
  border-radius: 25px;
  font-size: 
  16px;

}
.viewButton {
  background-color: #003585;
  width: 144px;
  height: 50px;
  color: #A7F65C;
  margin: 20px;
  border: 1px solid #A7F65C;
  border-radius: 25px;
  font-size: 
  16px;
}
